<template name="layoutTamplate">

    <head>
        <title>Hero</title>
        <link rel='icon' href='/favicon.ico'>
        <link href='/css/user_style.css' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
            var t0;
            var t1;

            function startTime() {
                t0 = performance.now();
            }
            function endTime() {
                t1 = performance.now();
                var tempo = t1-t0;
                console.log("Tempo de execução: " + tempo);
            }

            $(document).keypress(function(e) {
                if(e.which == 109){
                    startTime();
                    window.history.back();
                }

            });

        </script>

    </head>

    <div id="main">
        <div class="conteudo">
            <div class="container">
                <header>
                    {{> header}}
                </header>

                <div class="espaco-top">

                    {{> yield}}

                    {{> menuPage}}

                </div>
            </div>
        </div>
        {{! Also a sidebar! }}
        <footer>
            {{> footer}}
        </footer>
    </div>

</template>
