<template name="layoutTamplate">

    <head>
        <title>Hero</title>
        <link rel='icon' href='/favicon.ico'>
        <link href='/css/user_style.css' rel='stylesheet' type='text/css'>
    </head>

    <div id="main">
        <div class="conteudo">
            <div class="container">
                <header>
                    {{> header}}
                </header>

                <div class="espaco-top">

                    {{> yield}}

                    {{> menuPage}}

                </div>
            </div>
        </div>
        {{! Also a sidebar! }}
        <footer>
            {{> footer}}
        </footer>
    </div>

</template>
