<template name="menuAdmin">

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/images/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p> Acácio Oliveira  </p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

                <li>
                    <a href="/admin">
                        <i class="glyphicon glyphicon-home"></i> <span>Admin home</span>
                        <!--<small class="label pull-right bg-green">new</small>-->
                    </a>
                </li>

                <li>
                    <a href="/">
                        <i class="glyphicon glyphicon-envelope"></i> <span>Ir para notícias</span>
                        <!--<small class="label pull-right bg-green">new</small>-->
                    </a>
                </li>

                <li>
                    <a href="/admin/cadastrarnoticia">
                        <i class="glyphicon glyphicon-pencil"></i> <span>Cadastrar nova notícia</span>
                        <!--<small class="label pull-right bg-green">new</small>-->
                    </a>
                </li>

                <li>
                    <a href="/admin/deletarnoticia">
                        <i class="glyphicon glyphicon-trash"></i> <span>Deletar notícias</span>
                        <!--                    <small class="label pull-right bg-red">3</small>-->
                    </a>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

</template>

