<template name="noticiasPage">
    <!--banner-->
    <div class="banner">
        <div class="slider">


            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {{#each noticiasBanner}}
                        {{> carouselIndicators index=@index}}
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each noticiasBanner}}
                        {{> carouselItem img=img title=title sub_title=sub_title _id=_id index=@index}}
                    {{/each}}
                </div>
                <a data-slide="prev" data-target="#myCarousel" class="left carousel-control">&lsaquo;<span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a data-slide="next" data-target="#myCarousel" class="right carousel-control">&lsaquo;<span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /.carousel -->


        </div>
    </div>


    <!-- Conteúdo do Blog -->
    <div class="content-left">
        <!-- Inicio Lista de Notícias -->
        {{#each noticias}}
            <div class="sec_1">
                <div class="sec_1 grids">
                    <div class="post6">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{img}}"
                                     class="img-responsive post6-pic-img" alt="">
                            </div>
                            <div class=" col-md-6 post6-pic-info">

                                <div class="info-box bg-yellow">
                                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{category}}</span>
                                    </div><!-- /.info-box-content -->
                                </div>
                                <h3><a href='/noticia/{{_id}}'>{{title}}</a></h3>
                                <p>{{sub_title}}</p>
                                <div class="comments cmnt3">
                                    <ul>
                                        <li><a class="js-gostei"> <span
                                                class="gostei glyphicon glyphicon-thumbs-up"
                                                aria-hidden="true"></span>{{gostei}}
                                        </a>
                                        </li>
                                        <li><a class="js-nao-gostei"><span
                                                class="gostei glyphicon glyphicon-thumbs-down"
                                                aria-hidden="true"></span>{{nao_gostei}} </a>
                                        </li>
                                        <li><a href="#"><span class="glyphicon glyphicon-comment"
                                                              aria-hidden="true"></span>{{comentarios.length}}</a>
                                        </li>
                                        <li><span class="glyphicon glyphicon-eye-open"
                                                  aria-hidden="true"></span> {{numero_clicks}}
                                        </li>
                                        <li><span class="glyphicon glyphicon-time"
                                                  aria-hidden="true"></span>{{date}}
                                        </li>
                                    </ul>
                                    <script type="text/javascript">
                                        console.log("Tempo de carregamento: "+ performance.now());
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {{/each}}
        <!-- Fim Lista de Notícias -->
    </div>
    <!-- Fim Conteúdo do Blog -->


</template>

<template name="carouselItem">

    <div class="item  {{isActive}}">
        <img src="{{img}}" style="width:100%" class="img-responsive">
        <div class="container">
            <div class="carousel-caption">

                <div class="bnr-info">
                    <h1>{{title}}</h1>
                    <h3>{{sub_title}}</h3>
                    <a href='/noticia/{{_id}}'>Leia mais</a>
                    <p></p>
                </div>

            </div>
        </div>
    </div>

</template>

<template name="carouselIndicators">

    <li class="indicadores {{isActive}}" data-target="#myCarousel" data-slide-to="{{index}}"></li>

</template>
